body {
    overflow-x: hidden;
    font-family: 'roboto',sans-serif;

}
.google-wrapper {
    text-align: center;
    
}
img{
  width: 272px;  
  height: 92px;
  margin-top: 50px;
}
.google-logo{
   height: 70px;
   margin-top: 190px;
}
.search-form{
    margin-top: 30px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 4px;
    flex-direction: column;
    text-align: center;
}
.search-input{
    height: 40px;
    border-radius: 4px;
    border: 1px solid #080808;
    padding: 0 16px;
    font-size: 13px;
    font-weight: 400;
    max-width: 500px;
    width: 100%;
}
.search-button{
    height: 40px;
    background-color: #b6b4b4;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 17px;
}
.search-button:hover{
    background-color: #7b7272;
}
.feeling-lucky-button{
    height: 40px;
    background-color: #b6b4b4;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 17px;
}
.feeling-lucky-button:hover{
    background-color: #7b7272;
}
.sign-in-link{
    padding: 3px 2px;
    
    background-color:blue;
    border-radius: 4px;
    color: white;  
}
.nav-link{
    padding: 3px 2px;
    border-radius: 4px;
    color: white;
}
.sign-in-link:hover{
    background-color: rgb(20, 20, 128);
}
.nav-link:hover{
    background-color: rgb(192, 192, 215);
}
.nav-list{
    
    display: flex;
    justify-content: flex-end;
    align-content: end;
    padding: 10px 20px;
    background-color: #fcf9f9;

}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
li{
    margin-left: 20px;
    position: relative;

}
a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}
.more-menu ul{
    display: none;
    list-style: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f1eeee;
    padding: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.more-menu:hover ul{
    display: block;

}
.more-menu ul li{
    margin: 5px 0;

}
.more-menu ul li a{
    color: #333;
    font-size: 14px;
    font-weight: 400;
}
.more-menu ul li a:hover{
    text-decoration: underline;
    background-color: #e6e6e6;
}

@media (max-width:780px) {
    .google-wrapper {
        padding: 10px;
    }
    img {
        width: 200px;
        margin-top: 20px;
    }
    .search-form{
        margin-top: 20px;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .search-input{
        width: 100%;
        max-width: 400px;
    }
    .google-logo{
        width: 180px;
        height: 61px;
        margin-top: 180px;
    }
    .search-button,.feeling-lucky-button{
        margin-top: 20px;
        padding: 8px 12px;
        font-size: 12px;
    }
}
@media (max-width:480px) {
 *{
    height: auto;
 }   
.google-logo{
    margin-top: 120px;
    height: 61px;
}
.search-input{
    width: 100%;
    max-width: 250px;
}
.search-form{
    margin-top: 10px;
        text-align: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
.nav-link{
    padding: 3px 2px;
    border-radius: 4px;
    color: white;
}
.nav-link:hover{
    background-color: rgb(192, 192, 215);
}
.search-button,.feeling-lucky-button{
    margin-top: 20px;
    padding: 8px 12px;
    font-size: 12px;
}
}